.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
  }

  .cart > div:first-child {
    font-weight: bold; 
    font-size: 1.2em; 
  }
  
  .cart > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .cart > div:nth-child(2) > div {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .cart > div:nth-child(2) > div > span {
    font-weight: bold; 
  }
  
  .cart > div:last-child {
    font-weight: bold; 
    font-size: 1.1em;
  }
  